<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDECS7SSod9ZjaWoOeoRa5EtOnNUPb5z7k</string>
	<key>GCM_SENDER_ID</key>
	<string>619950618055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>liamhowell4.Tasks</string>
	<key>PROJECT_ID</key>
	<string>todolistapp-d47fb</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistapp-d47fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619950618055:ios:19ddaa6676b33ec98455e2</string>
</dict>
</plist>